<%- include("./partials/head") %> 

<header class="container-fluid"> <!--caja contenedora de boostrap-->
        
    <!--caja que contiene el logotipo, el buscador y botón con un link-->
    <div class="row rowTitulologo">
        <!--caja que contiene el logotipo-->
        <div class="col-2 col-md-1 col-lg-1 logo">
            <a href="/"><img src="/images/logo.png" alt="Logo MPKGames "></a>
        </div> 
        <div class="contenedorTiuloPag col-10 col-md-5 col-lg-3"><h1 class="h1TituloPagina">MPKGames</h1></div> 
               
        <!--caja que contiene el buscador de juegos -->
        <div class="contBuscadorMd col-md-6 col-lg-7">                
            <form action="/productos/search" method="get" class="search-form">
                <input type="text" name="search" placeholder="Buscar tu Juego favorito" class="search-form_input">
                <button type="submit" class="search-form_button"><i class="fas fa-search"></i></button>
            </form>
        </div>
     
        <!--finaliza el div.row-->
    </div>

    <!--barra de navegación-->
    <div class="row rowBtnBarraIcon">
            <div class="contenedorColumNav col-2 col-md-12 col-lg-12">
            <nav class="navbar navbar-expand-md navbar-light bg-light">
    
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarNav">
                  <ul class="navbar-nav">
                    <li class="nav-item ">
                      <a class="nav-link" href="/">Home<svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-house-door" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M7.646 1.146a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 .146.354v7a.5.5 0 0 1-.5.5H9.5a.5.5 0 0 1-.5-.5v-4H7v4a.5.5 0 0 1-.5.5H2a.5.5 0 0 1-.5-.5v-7a.5.5 0 0 1 .146-.354l6-6zM2.5 7.707V14H6v-4a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 .5.5v4h3.5V7.707L8 2.207l-5.5 5.5z"/>
                        <path fill-rule="evenodd" d="M13 2.5V6l-2-2V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5z"/>
                      </svg></a>
                    </li>
                    <li class="nav-item">
                      <!-- <a class="nav-link" href="/detalle">Detalle de producto</a> -->
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="/botones">Carga de producto</a>
                    </li>

                    <li class="nav-item ">
                        <a class="nav-link" href="/registroUsuarios">Creá tu cuenta <i class="far fa-address-card "></i></span></a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href=" ">Ingresá <i class="fas fa-sign-in-alt "></i></a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="/productos/carritoCompras">Mis compras <i class="fas fa-shopping-basket "></i></a>
                      </li>
                </ul>
                </div>
              </nav>
            </div>

        
        <!--finaliza caja contenedora del menu-->

    <div class="contBuscador col-10 ">                
        <form action="/productos/search" method="get" class="search-form">
            <input type="text" name="search" placeholder="Buscar tu Juego favorito" class="search-form_input">
            <button type="submit" class="search-form_button"><i class="fas fa-search"></i></button>
        </form>
    </div>
</div>

<!--finaliza caja contenedora bootstrap-->
</header>

<main>
    <div class="container">
        <section>
            
            <div class="row productos"> <!--caja que contiene todos los productos de la ultima visita-->
                <div class="titulo col-12"> <!--caja que contiene el titulo de la sección-->
                    <h2>
                        <%= title %> 
                    </h2>
                </div>
                <nav class="navDetalleProd col-12 col-md-12 col-lg-12" aria-label="breadcrumb">
                    <ol class="orderListDetall breadcrumb">
                        <li class="liBreadcrumb breadcrumb-item"><a href="/">Home</a></li>
                        <li class="liBreadcrumb breadcrumb-item active" aria-current="page">Listado de todos los productos</li>
                    </ol>
                </nav>
              
                
                <% productos.forEach(producto => { %> <!--recorro los productos basados en la ultima visita con un forEach-->                    
                    <div class="col-12 col-md-6 col-lg-3"> <!--caja de la grilla de bootstrap-->
                        <!--caja que muestra la información del producto-->
                        <div class="contenido">
                            <!--ETIQUETA SEMANTICA-->
                            <figure>
                                <a href="/productos/detalle/<%= producto.IDJuego %> ">
                                    <img src="/images/products/<%- producto.Imagen %>  " alt=" ">
                                </a>
                            </figure>

                            <!--informacion-->
                            <article>
                                
                                <h2>$ <!--precio-->
                                    <%- (producto.Precio -producto.Precio * producto.Descuento /100).toFixed(0).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".") %>
                                </h2>
                                        <!--descuento-->
                                <% if (producto.Descuento !=0) { %>
                                    <span><%- producto.Descuento %> % OFF</span>
                                <% } %>
                                
                                <p> <!--nombre del producto ??-->
                                    <%- producto.NombreDeProducto %>
                                </p>
                                <p>
                                    <%- producto.Categoria %> 
                                </p>

                                <div class="d-flex justify-content-around">                                   
                                    <form action="/productos/show/<%= producto.IDJuego %>" method="GET">
                                        <button class="btn btn-outline-light"> <h4 class="fas fa-edit text-primary"></h4></button>
                                    </form>
                                    <form action="/productos/delete/<%= producto.IDJuego %>?_method=DELETE" method="POST">
                                        <button class="btn btn-outline-light"> <h4 class="fas fa-trash-alt text-danger"></h4></button>
                                    </form>
                                </div>
                            </article>
                        </div>
                        <!--finaliza contenido-->

                    </div> <!--finaliza caja de grilla de boostrap-->
                    
                    <% }) %>
            </div> <!--finaliza el div.row-->            

        </section>

    </div>

</main>   


<%- include("./partials/footer") %> 
